<header class="o-header-services" data-o-component="o-header">
	<div class="o-header-services__top o-header-services__container">
		<div class="o-header-services__ftlogo"></div>
		<div class="o-header-services__title">
			<h1 class="o-header-services__product-name"><a href="/">Tool or Service name</a></h1><span class="o-header-subrand__product-tagline ">Tagline to explain the product here</span>
		</div>
	</div>
</header>