{{#if pagination}}
   <a href="/articles?page=1" id="page-1-link">
    1
  </a>
  |
  <a href="/articles?page=2" id="page-2-link">
    2
  </a>
  |
  <a href="/articles?page=3" id="page-3-link">
    3
  </a>
  |
  <a href="/articles?page=4" id="page-4-link">
    4
  </a>
  |
  <a href="/articles?page=5" id="page-5-link">
    5
  </a>
Page {{pagination.currentPage}} of 5


{{/if}}