

{{# each articles}}
  <div id="page-{{../pagination.currentPage}}-article-{{@index}}" class="title-class">
    <div class="demo-container demo-container--landscape">
	<div class="o-card o-card--landscape o-card--image-" data-o-component="o-card">

		<div class="o-card__content">
			<div class="o-card__meta">
				<a href="{{this.location.uri}}" class="o-card__tag">{{this.editorial.subheading}}</a>
			</div>

			<h2 class="o-card__heading"><a href="{{this.location.uri}}">{{this.title.title}}</a></h2>

				<p class="o-card__standfirst">{{this.summary.excerpt}}</p>

        <Br><Br>
		</div>

	</div>
</div>
  </div>
{{/each}}

{{#> pagination }}
{{/pagination}}
