
<div class="o-forms o-forms--wide">
  <form id="search-box-form" class="" action="/articles" method="post">
	<label for="o-forms-full" class="o-forms__label">Get the latest from the FT</label>
	<input type="text" id="o-forms-full" name="searchBox" class="o-forms__text o-forms__text--valid" value="Enter text...">
  <button class="o-buttons o-buttons--primary" id="submit-search-btn" type="submit" name="submit">Submit</button>
  </form>
</div>