<header class="o-header-services" data-o-component="o-header">
	<div class="o-header-services__top o-header-services__container">
		<div class="o-header-services__ftlogo"></div>
		<div class="o-header-services__title">
			<h1 class="o-header-services__product-name"><a href="/">FT News</a></h1><span class="o-header-subrand__product-tagline ">Headlines on the go</span>
		</div>
	</div>
</header>

<div class="o-grid-container">
<h1 class="title-class">FT News Aggregator</h1>
	<div class="o-grid-row o-grid-row--compact">
		<div data-o-grid-colspan="6">
			<div class="demo-cell">
				<p class="title-class"> {{title}}</p>
			</div>
		</div>
	</div>
{{> searchBox }}
{{#> results  }}
  No Results for {{search}} 
  {{/results  }}
</div>
