<!DOCTYPE html>
<html class="core">

<head>
    <title>FT News Aggregator</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='bundle.css' />
  <script src="/bundle.js"></script>
<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-card@^3.0.3,o-header-services@^2.3.0,o-typography@^5.7.5,o-fonts@^3.0.4,o-forms@^5.7.3,o-buttons@^5.13.1&brand=master" />
<script src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-card@^3.0.3,o-header-services@^2.3.0,o-typography@^5.7.5,o-forms@^5.7.3"></script>
  <script>
    var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);
    if (cutsTheMustard) {
      document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
    }
  </script>

  <style>
    .core .o--if-js,
    .enhanced .o--if-no-js {
      display: none !important;
    }
  </style>

  <script src="https://polyfill.io/v2/polyfill.min.js"></script>

  <!--
		Load the main JavaScript bundle asynchronously
	-->
  <script>
    (function (src) {
      if (cutsTheMustard) {
        var o = document.createElement('script');
        o.async = o.defer = true;
        o.src = src;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(o, s);
      }
    }('/bundle.js'));
  </script>

  <!--
		initialize our scripts now
	-->

  <script>
    if (document.readyState === 'interactive' || document.readyState === 'complete') {
      document.dispatchEvent(new CustomEvent('o.DOMContentLoaded'));
    }
    document.addEventListener("DOMContentLoaded", function () {
      document.dispatchEvent(new CustomEvent('o.DOMContentLoaded'));
    });
  </script>
</head>

<body>

  {{{body}}}

</body>

</html>